canvas {
    background-color: black;
    width: 60%;

    border: 2px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

body header h1 {
    text-align: center;
    font-size: 48px;
}

body .placar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 8vh;
}

body .placar .points {
    font-size: 48px;
}

#message {
    text-align: center;
}